<md-dialog aria-label="Add Blog" ng-cloak class="width-100">
    <form class="width-100">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add Blog</h2>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-content layout="column" layout-xs="column" layout-padding>
                <div flex="100">
                    <md-input-container class="md-block">
                        <label>Title</label>
                        <input ng-model="blog.title">
                    </md-input-container>
                </div>
                <div flex="100">
                    <md-input-container class="md-block">
                        <label>Content</label>
                        <input ng-model="blog.content">
                    </md-input-container>
                </div>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-warn md-raised" ng-click="hide()">
                Cancel
            </md-button>
            <md-button class="md-primary md-raised" ng-click="submit()" style="margin-right:20px;">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>