<div class="container">
	<div class="alert alert-danger alert-dismissible fade in" ng-if="errorMsg"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>{{errorMsg}}</div>
    <div class="alert alert-success alert-dismissible fade in" ng-if="successMsg"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>{{successMsg}}</div>
	<form>
	  <div class="form-group">
	    <label for="userName">USERNAME</label>
	    <input type="text" class="form-control" id="userName" placeholder="UserName" ng-model ="username">
	  </div>
	  <div class="form-group">
	    <label for="password">Password</label>
	    <input type="password" class="form-control" id="password" placeholder="Password" ng-model="password">
	  </div>
	  <button type="submit" class="btn btn-default align-center" ng-click = "logIn()">Login</button>
	</form>
</div>